{% extends 'ACiunganBlogBundle::layout.html.twig' %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, j F Y') }}</time></div>
            <header>
                <h2><a href="{{ path('a_ciungan_blog_blog_show', { 'id': blog.id }) }}">{{ blog.title }}</a></h2>
            </header>

            <div class="snippet">
                <p>{{ blog.blog(500) }}</p>
                <p class="continue"><a href="{{ path('a_ciungan_blog_blog_show', { 'id': blog.id }) }}">Citeste tot...</a></p>
            </div>

            <footer class="meta">
                <p>Comentarii: -</p>
                <p>Adaugat de <span class="highlight">{{blog.author}}</span> la {{ blog.created|date('h:iA') }}</p>
                <p>Etichete: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>Nu exista nici un comentariu</p>
    {% endfor %}
{% endblock %}